<!DOCTYPE html>
<html>

<head>
    <title>User Management</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <!-- Google's Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">

    <!-- Custom Styles -->
    <style>
        body {
            background-color: #f8f9fa;
            font-family: 'Poppins', sans-serif;
        }

        .container {
            max-width: 1000px;
            margin: 0 auto;
            padding: 20px;
        }

        .sidebar {
            height: 100%;
            width: 60px;
            position: fixed;
            top: 0;
            left: 0;
            background-color: #13274F;
            padding-top: 20px;
            transition: 0.5s;
            z-index: 2;
        }

        .sidebar:hover {
            width: 200px;
        }

        .sidebar a {
            margin-top: 25px;
            display: flex;
            align-items: center;
            padding: 10px 20px;
            color: #fff;
            text-decoration: none;
            transition: background-color 0.3s;
            font-weight: bold;
        }

        .sidebar a .material-icons {
            margin-right: 10px;
        }

        .sidebar a::after {
            content: attr(data-label);
            display: none;
        }

        .sidebar:hover a::after {
            display: inline;
        }

        .sidebar a:hover {
            background-color: #B0C4DE;
        }

        /* Main Content Styling */
        .main-content {
            padding-left: 70px;   /* Left padding */
            padding-top: 20px;    /* Top padding */
            padding-right: 50px;  /* Increased right padding */
            padding-bottom: 20px; /* Bottom padding */
            transition: 0.5s;
        }
            

        /* Filter Search Section Styling */
        .filter-search-section {
            background-color: #fff;
            padding: 15px;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            margin-bottom: 20px;
        }

        .filter-search-section form {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 10px;
        }

        /* Filter Search Inputs and Selects */
        .filter-search-section select, 
        .filter-search-section input {
            flex: 1;
            min-width: 150px;
        }

        /* Buttons in Filter Search Section */
        .filter-search-section button, 
        .filter-search-section .clear-button {
            background-color: #318CE7;
            color: white;
            border: none;
            padding: 6px 12px;
            border-radius: 4px;
            cursor: pointer;
        }

        .filter-search-section .clear-button {
            background-color: #6c757d;
        }

        /* Hover Effects for Buttons */
        .filter-search-section button:hover, 
        .filter-search-section .clear-button:hover {
            opacity: 0.85;
            box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        }

        /* Pagination Styling */
        .pagination {
            display: flex;
            justify-content: center;
            padding: 20px 0;
        }

        .pagination a {
            margin: 0 5px;
            padding: 5px 10px;
            text-decoration: none;
            color: #000;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        .pagination a.active {
            background-color: #72A0C1;
            color: white;
            border-color: #72A0C1;
        }

        .pagination a:hover:not(.active) {
            background-color: #5f9fb5;
            border-color: white;
        }

        /* User Search Section Styling */
        .user-search-section {
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .user-search-section input[type="text"] {
            flex-grow: 1;
            padding: 0.5rem;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            line-height: 1.5;
            font-size: 1rem;
        }

        .user-search-section input[type="text"]:focus {
            border-color: #80bdff;
            box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
        }

        .user-search-section button {
            padding: 0.5rem 1rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: 0.25rem;
            color: #fff;
            background-color: #318CE7;
            border-color: #318CE7;
        }

        .user-search-section button:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }

        /* Clear Button Styles */
        .clear-button {
            padding: 0.5rem 1rem;
            font-size: 1rem;
            line-height: 1.5;
            color: white;
            background-color: #6c757d;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            text-decoration: none;
        }

        .clear-button:hover {
            background-color: #e6e6e6;
        }
            /* General Table Styling */
        .table {
            width: 120%; /* Full width of the container */
            border-collapse: separate; /* Changes to separate to allow outer borders */
            border-spacing: 0; /* Removes spacing between cells */
            border: 1px solid #dee2e6; /* Outer border for the entire table */
        }

        /* Table Header and Data Cells Styling */
        .table th, .table td {
            padding: 8px; /* Adequate padding within cells */
            text-align: left; /* Aligns text to the left */
            border-bottom: 1px solid #dee2e6; /* Horizontal line between rows */
            border-right: 1px solid #dee2e6; /* Vertical line between columns */
        }

        /* Removing Right Border from Last Column for Aesthetic Reasons */
        .table th:last-child, .table td:last-child {
            border-right: none;
        }

        /* Table Header Styling */
        .table th {
            background-color: #f8f9fa; /* Light background for headers */
            font-weight: bold; /* Bold font for headers */
        }

        /* Zebra Striping for Rows */
        .table tbody tr:nth-child(odd) {
            background-color: #f2f2f2; /* Light color for odd rows */
        }

        /* Hover Effect for Rows */
        .table tbody tr:hover {
            background-color: #e9ecef; /* Slight change on row hover */
        }
        /* Nav Tabs Styling */
        .nav-tabs .nav-item .nav-link {
            color: #495057; /* Default color for non-active tabs */
            /* Additional default styling as needed */
        }

        /* Active Nav Tab Styling */
        .nav-tabs .nav-item .nav-link.active {
            color: #fff; /* White text for better contrast */
            background-color: #72A0C1; /* Your specified color for active state */
            border-color: #72A0C1; /* Border color to match */
        }

        /* Hover Effect for Nav Tabs */
        .nav-tabs .nav-item .nav-link:hover {
            background-color: #5f9fb5; /* Slightly darker shade on hover for visual feedback */
            color: #fff; /* White text on hover */
        }

        /* Responsive Styles for Main Content */

        @media (max-width: 992px) {
            /* Adjustments for medium-sized screens and smaller */
            .main-content {
                padding-left: 100px; /* Increase left padding to avoid overlap with sidebar */
            }

            /* Adjustments for tables or other elements as needed */
            .table {
                width: 100%; /* Full width for better readability */
                margin-left: 0; /* Align table with the main content */
            }

            /* Other adjustments as needed */
        }

        @media (max-width: 768px) {
            /* Adjustments for small screens */
            .main-content {
                padding-left: 80px; /* Slightly less padding for smaller screens */
            }

            /* Adjust font sizes, margins, or other properties for smaller screens */
            .table th, .table td {
                padding: 5px; /* Smaller padding within table cells */
            }
        }

        @media (max-width: 576px) {
            /* Adjustments for extra small screens */
            .main-content {
                padding-left: 60px; /* Minimal padding for very small screens */
            }

            /* Further adjustments for tables or other elements */
            .table th, .table td {
                font-size: 14px; /* Smaller font size for table content */
            }

            /* Additional adjustments for other elements as needed */
        }

        /* You can add more media queries for specific adjustments on different screen sizes */


    
    </style>
</head>

<body>
    <!-- Sidebar -->
    <div class="sidebar">
        <a href="/admin/dashboard" data-label="Dashboard"><span class="material-icons">dashboard</span></a>
        <a href="/admin/organizationmanagement" data-label="Organization Management"><span
                class="material-icons">business_center</span></a>
        <a href="/admin/droppointmanagement" data-label="Drop Point Management"><span
                class="material-icons">place</span></a>
                <a href="/admin/marketplacemanagement" data-label="Marketplace Management"><span class="material-icons">shopping_cart</span></a>
        <a href="/admin/managermanagement" data-label="Manager Management"><span
                class="material-icons">supervisor_account</span></a>
        <a href="/admin/usermanagement" data-label="User Management"><span class="material-icons">group</span></a>
        <a href="/admin/usermanagement" data-label="Logout" onclick="submitLogoutForm(event)"><span class="material-icons">logout</span></a>
    </div>

    <form id="logoutForm" action="/admin/logout" method="post" style="display: none;">
        <!-- Add any form fields you need here -->
        <!-- For example, you might include a CSRF token -->
    </form> 
    <script>
        function submitLogoutForm(event) {
            event.preventDefault(); // Prevent the default link behavior
            document.getElementById("logoutForm").submit(); // Submit the form
        }
    </script>

    <!-- Main content -->
    <div class="main-content">
        <div class="container">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link <%= activeTab === 'activityLog' ? 'active' : '' %>" data-toggle="tab"
                        href="#activityLog">Activity Log</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= activeTab === 'userDetails' ? 'active' : '' %>" data-toggle="tab"
                        href="#userDetails">User Details</a>
                </li>
            </ul>


            <!-- Tab panes -->
            <div class="tab-content">
                <div id="activityLog" class="container tab-pane <%= activeTab === 'activityLog' ? 'active' : 'fade' %>">
                    <!-- Activity Log Content -->
                    <div class="filter-search-section">
                        <form action="/admin/usermanagement" method="GET">
                            <select name="activityType">
                                <option value="" <%=!activityType ? 'selected' : '' %>>All Activities</option>
                                <option value="Listing Created" <%=activityType==='Listing Created' ? 'selected' : '' %>
                                    >Listing Created</option>
                                <option value="Sale Made" <%=activityType==='Sale Made' ? 'selected' : '' %>>Sale Made
                                </option>
                            </select>
                            <select name="dateOrder">
                                <option value="desc" <%=dateOrder==='desc' ? 'selected' : '' %>>Newest First</option>
                                <option value="asc" <%=dateOrder==='asc' ? 'selected' : '' %>>Oldest First</option>
                            </select>
                            <button type="submit">Filter</button>
                            <a href="/admin/usermanagement" class="clear-button">Clear</a>
                        </form>
                    </div>


                    <div class="activity-log-table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Activity Type</th>
                                    <th>Date/Time</th>
                                    <th>User Name</th>
                                    <th>Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% activityLog.forEach(function(activity) { %>
                                    <tr>
                                        <td>
                                            <%= activity.activityType %>
                                        </td>
                                        <td>
                                            <%= new Date(activity.date).toLocaleString() %>
                                        </td>
                                        <td>
                                            <%= activity.userName %>
                                        </td>
                                        <td>
                                            <%= activity.details %>
                                        </td>
                                    </tr>
                                    <% }); %>
                            </tbody>
                        </table>
                    </div>
                    <!-- Pagination for Activities -->
                    <div class="pagination">
                        <% if (currentPage> 1) { %>
                            <a href="?page=<%= currentPage - 1 %>">&laquo; Previous</a>
                            <% } %>
                                <% for (let i=1; i <=totalPages; i++) { %>
                                    <a href="?page=<%= i %>" class="<%= i === currentPage ? 'active' : '' %>">
                                        <%= i %>
                                    </a>
                                    <% } %>
                                        <% if (currentPage < totalPages) { %>
                                            <a href="?page=<%= currentPage + 1 %>">Next &raquo;</a>
                                            <% } %>
                    </div>
                </div>
                <div id="userDetails" class="container tab-pane <%= activeTab === 'userDetails' ? 'active' : 'fade' %>">

                    <div class="user-search-section">
                        <form action="/admin/usermanagement" method="GET">
                            <input type="text" name="userEmail" placeholder="Search by Email">
                            <button type="submit">Search</button>
                            <a href="/admin/usermanagement" class="clear-button">Clear</a>
                        </form>
                    </div>

                    <!-- User Details Content -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Email</th>
                                <th>Name</th>
                                <th>City</th>  
                                <th>Contact</th>
                                <th>Gender</th>
                                <th>Joined</th>
                                <th>Listings</th>
                                <th>Purchases</th>
                                <th>Avg. Rating</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% let i=1 %>
                                <% users.forEach(function(user) { %>
                                    <tr>
                                        <td>
                                            <%= i++ %>
                                        </td>
                                        <td>
                                            <%= user.email %>
                                        </td>
                                        <td>
                                            <%= user.firstName %>
                                                <%= user.lastName %>
                                        </td>
                                        <td><%= user.city.name %></td> 
                                        <td><%= user.contactNumber %></td>
                                        <td><%= user.gender %></td>
                                        <td><%= user.createdAt.toDateString() %></td>
                                        <td><%= user.listingsCount %></td>
                                        <td><%= user.purchasesCount %></td>
                                        <td><%= user.averageRating %></td>
                                    </tr>
                                    <% }); %>
                        </tbody>
                    </table>
                    <!-- Pagination for User Details -->
                    <div class="pagination">
                        <% if (currentPage> 1) { %>
                            <a href="?page=<%= currentPage - 1 %>&userEmail=<%= userEmail %>&tab=userDetails">&laquo;
                                Previous</a>
                            <% } %>
                                <% for (let i=1; i <=totalUserPages; i++) { %>
                                    <a href="?page=<%= i %>&userEmail=<%= userEmail %>&tab=userDetails"
                                        class="<%= i === currentPage ? 'active' : '' %>">
                                        <%= i %>
                                    </a>
                                    <% } %>
                                        <% if (currentPage < totalUserPages) { %>
                                            <a
                                                href="?page=<%= currentPage + 1 %>&userEmail=<%= userEmail %>&tab=userDetails">Next
                                                &raquo;</a>
                                            <% } %>
                    </div>

                </div>
            </div>
        </div>
    </div> 


    <!-- Load Bootstrap JS (you can also include jQuery for additional functionality) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>