<!DOCTYPE html>
<html>
<head>
    <title>View Documents</title>
    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">
        <h1>Organization Documents</h1>
        <h2>Organization Name: <%= organization.organizationname %></h2>

        <h3>Documents:</h3>
        <ul>
          <% documents.forEach((document) => { %>
            <li>
              <% if (isPDF(document.filename)) { %>
                <!-- Display PDF using an embed element -->
                <embed src="data:application/pdf;base64,<%= document.url %>" type="application/pdf" width="100%" height="600"></embed>
              <% } else if (isDOCX(document.filename)) { %>
                <!-- Display DOCX documents as links for download -->
                <a href="data:application/octet-stream;base64,<%= document.url %>" download="<%= document.filename %>"><%= document.filename %></a>
              <% } else { %>
                <!-- Handle other document types as needed -->
                <a href="<%= document.url %>">View Document</a>
              <% } %>
            </li>
          <% }); %>
        </ul>
    </div>
</body>
</html>
