<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Edit Student Information</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1>Edit Student Information</h1>
  
    <div class="error">
        <% if (typeof error !== 'undefined') { %>
          <p style="color: red;"><%= error %></p>
        <% } %>
      </div>
  
    <form method="POST" action="/editstudentinfo">
      <div class="form-group">
        <label for="lastname">Last Name:</label>
        <input type="text" class="form-control" id="lastname" name="lastname" value="<%= studentInfo.lastname %>">
      </div>
      <div class="form-group">
        <label for="firstname">First Name:</label>
        <input type="text" class="form-control" id="firstname" name="firstname" value="<%= studentInfo.firstname %>">
      </div>
      <div class="form-group">
        <label for="middlename">Middle Name:</label>
        <input type="text" class="form-control" id="middlename" name="middlename" value="<%= studentInfo.middlename %>">
      </div>
      <div class="form-group">
        <label for="address">Address:</label>
        <input type="text" class="form-control" id="address" name="address" value="<%= studentInfo.address %>">
      </div>
      <div class="form-group">
        <label for="city">City:</label>
        <input type="text" class="form-control" id="city" name="city" value="<%= studentInfo.city %>">
      </div>
      <div class="form-group">
        <label for="region">Region:</label>
        <input type="text" class="form-control" id="region" name="region" value="<%= studentInfo.region %>">
      </div>
      <div class="form-group">
        <label for="zipcode">Zip Code:</label>
        <input type="text" class="form-control" id="zipcode" name="zipcode" value="<%= studentInfo.zipcode %>">
      </div>
      <div class="form-group">
        <label for="birthdate">Birth Date:</label>
        <input type="date" class="form-control" id="birthdate" name="birthdate" value="<%= studentInfo.birthdate.toISOString().split('T')[0] %>">
      </div>
      <div class="form-group">
        <label for="gender">Gender:</label>
        <select class="form-control" id="gender" name="gender">
          <option value="male" <%= studentInfo.gender === 'male' ? 'selected' : '' %>>Male</option>
          <option value="female" <%= studentInfo.gender === 'female' ? 'selected' : '' %>>Female</option>
          <option value="other" <%= studentInfo.gender === 'other' ? 'selected' : '' %>>Other</option>
        </select>
      </div>
      <div class="form-group">
        <label for="civil_status">Civil Status:</label>
        <select class="form-control" id="civil_status" name="civil_status">
          <option value="single" <%= studentInfo.civil_status === 'single' ? 'selected' : '' %>>Single</option>
          <option value="married" <%= studentInfo.civil_status === 'married' ? 'selected' : '' %>>Married</option>
          <option value="divorced" <%= studentInfo.civil_status === 'divorced' ? 'selected' : '' %>>Divorced</option>
          <option value="widowed" <%= studentInfo.civil_status === 'widowed' ? 'selected' : '' %>>Widowed</option>
        </select>
      </div>
      <div class="form-group">
        <label for="hobby">Hobby:</label>
        <div>
          <input type="checkbox" value="sports" id="sports" name="hobby" <%= studentInfo.hobby.includes('Sports') ? 'checked' : '' %>/>
          <label for="sports" class="checkbox"><span>Sports</span></label>
          <input type="checkbox" value="reading" id="reading" name="hobby" <%= studentInfo.hobby.includes('Reading') ? 'checked' : '' %>/>
          <label for="reading" class="checkbox"><span>Reading</span></label>
          <input type="checkbox" value="cooking" id="cooking" name="hobby" <%= studentInfo.hobby.includes('Cooking') ? 'checked' : '' %>/>
          <label for="cooking" class="checkbox"><span>Cooking</span></label>
          <input type="checkbox" value="gardening" id="gardening" name="hobby" <%= studentInfo.hobby.includes('Gardening') ? 'checked' : '' %>/>
          <label for="gardening" class="checkbox"><span>Gardening</span></label>
          <input type="checkbox" value="other" id="other" name="hobby" <%= studentInfo.hobby.includes('Other') ? 'checked' : '' %>/>
          <label for="other" class="checkbox"><span>Other</span></label>
        </div>
      </div>
      
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
