<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buying Conversation</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

        .sidenav a,
        .sidenav button {
            padding: 10px 15px 10px 30px;
            text-decoration: none;
            font-size: 25px;
            color: white;
            display: block;
            transition: 0.3s;
            background-color: transparent;
            border: none;
        }

        .sidenav a:hover,
        .sidenav button:hover {
            color: #f1f1f1;
            background-color: transparent;
        }

        #main {
            transition: margin-left .5s;
            padding: 16px;
        }

        .my-message {
            background-color: #e6f7ff;
            margin: 10px 0;
            padding: 10px;
            border-radius: 0 10px 10px 0;
            float: right;
            clear: both;
            max-width: 80%;
        }

        .their-message {
            background-color: #ffebcc;
            margin: 10px 0;
            padding: 10px;
            border-radius: 10px 0 0 10px;
            clear: both;
            max-width: 80%;
        }

        .timestamp {
            font-size: 12px;
            color: gray;
            float: right;
        }

        .message-buttons {
            margin-top: 10px;
        }
    </style>
</head>

<body>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/user/marketplace">Home</a>
        <a href="/user/inbox">Inbox</a>
        <a href="/user/buyListing">Buying</a>
        <a href="/user/sellListing">Selling</a>

        <form action="/user/logout" method="POST">
            <button type="submit" class="nav-link">LOGOUT</button>
        </form>
    </div>

    <div id="main">
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>

        <div class="container mt-5">
            <h3>Selling Conversation about: <%= conversation.listing.title %>
            </h3>

            <% if(conversation.user1 && conversation.user2) { %>
                <p>Participants: <%= conversation.user1.firstName %>
                        <%= conversation.user1.lastName %> and <%= conversation.user2.firstName %>
                                <%= conversation.user2.lastName %>
                </p>
                <!-- Link to view buyer's profile -->
                <a href="/user/profile/<%= conversation.listing.userId %>" class="btn btn-primary btn-sm ml-2">View
                    Buyer's Profile</a>

                <% } else { %>
                    <p>Participants data missing.</p>
                    <% } %>

                        <hr>
                        <div id="messages-container">
                            <% conversation.messages.forEach(function(message) { %>
                                <div class="<%= message.senderId === user.id ? 'my-message' : 'their-message' %>">
                                    <strong>
                                        <% if(message.sender) { %>
                                            <%= message.sender.firstName %>
                                                <%= message.sender.lastName %>:
                                                    <% } else { %>
                                                        Unknown:
                                                        <% } %>
                                    </strong>

                                    <% if (message.content) { %>
                                        <p>
                                            <%= message.content %>
                                        </p>
                                        <% } %>

                                            <% if (message.imageFileId) { %>
                                                <div>
                                                    <img src="/user/image/<%= message.imageFileId %>"
                                                        alt="<%= message.imageFileId %>"
                                                        style="max-width: 300px; max-height: 300px;">
                                                </div>
                                                <% } %>

                                                    <span class="timestamp">
                                                        <%= new Date(message.createdAt).toLocaleString() %>
                                                    </span>
                                </div>
                                <% }); %>
                        </div>

                        <form id="message-form-seller" action="/user/send_message_seller" method="POST" class="mt-4"
                            enctype="multipart/form-data">

                            <input type="hidden" name="listing_id" value="<%= conversation.listing.id %>">

                            <% const buyerId=(conversation.user1Id===userId) ? conversation.user2Id :
                                conversation.user1Id; %>


                                <input type="hidden" name="buyer_id" value="<%= buyerId %>">
                                <textarea name="message" class="form-control"
                                    placeholder="Type your message..."></textarea>

                                <input type="file" name="image" accept="image/*">
                                <div class="message-buttons mt-3">

                                    <button type="submit" class="btn btn-primary mt-2">Send</button>

                                    <!-- Dropdown for More Options -->
                                    <div class="btn-group mt-2">
                                        <button type="button" class="btn btn-secondary dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            More Options
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">See Details</a>

                                            <!-- Sub-dropdown for Price Offer -->
                                            <div class="dropdown-divider"></div>
                                            <h6 class="dropdown-header">Price Offer</h6>
                                            <!-- Placeholder dropdown items for price offers. Update with actual options -->
                                            <a class="dropdown-item" href="#">Offer 1</a>
                                            <a class="dropdown-item" href="#">Offer 2</a>
                                            <a class="dropdown-item" href="#">Offer 3</a>
                                        </div>
                                    </div>
                                    <!-- End of Dropdown for More Options -->

                                </div>
                        </form>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- At the bottom of your buyConversation.ejs and sellConversation.ejs pages -->
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();

        socket.on('connect', function () {
            console.log('Connected to WebSocket server!');
        });

        // Join the conversation room
        socket.emit('join_room', 'conversation_<%= conversation.id %>');

        // Listen for new messages
        socket.on('new_message', function (data) {
            if (data.conversationId === '<%= conversation.id %>') {
                console.log('New message received:', data);

                var messagesContainer = document.getElementById('messages-container');
                var newMessageDiv = document.createElement('div');
                newMessageDiv.className = data.senderId === '<%= user.id %>' ? 'my-message' : 'their-message';

                // Sender's name
                var senderNameHtml = `<div class="message-sender"><strong>${data.senderName || 'Someone'}:</strong></div>`;

                // Message content
                var messageContentHtml = data.message.content ? `<div class="message-content"><p>${data.message.content}</p></div>` : '';

                // Image content
                var imageContentHtml = data.message.imageFileId ? `<div class="message-image"><img src="/user/image/${data.message.imageFileId}" alt="Message Image" style="max-width: 300px; max-height: 300px;"></div>` : '';

                // Timestamp
                var timestampHtml = `<div class="message-timestamp"><span class="timestamp">${new Date(data.message.createdAt).toLocaleString()}</span></div>`;

                // Combine all parts
                newMessageDiv.innerHTML = senderNameHtml + messageContentHtml + imageContentHtml + timestampHtml;

                // Append the new message div to the messages container
                messagesContainer.appendChild(newMessageDiv);

                // Scroll to the bottom of the messages container
                messagesContainer.scrollTop = messagesContainer.scrollHeight;
            }
        });

        $(document).ready(function () {
            $('#message-form-seller').submit(function (e) {
                e.preventDefault(); // Prevent the normal form submission

                var formData = new FormData(this);
                var hasImage = formData.get('image').size > 0; // Check if an image file is being sent

                $.ajax({
                    url: '/user/send_message_seller',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        console.log('Message sent:', response);
                        // Clear the message input field
                        $('textarea[name="message"]').val('');
                        // Clear the file input field
                        $('input[type="file"]').val('');
                    },
                    error: function (xhr, status, error) {
                        console.error('Error sending message:', error);
                    }
                });
            });
        });
    </script>


    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
    </script>

</body>

</html>