<!DOCTYPE html>
<html>

<head>
    <title>Manage Donations</title>
    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <style>
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
    </style>
</head>

<body>
    

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/manager/dashboard">Manager</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/manager/dashboard">Dashboard - <span class="badge badge-secondary"><%= dropPointName %></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/manager/manageDonation">Manage Donations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/manager/expectedArrivals">Expected Arrivals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/manager/managerAccount">Account</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="post" action="/manager/logout">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
        </form>
    </nav>
    <div class="container">
        <h2>Manage Donations</h2>

        <!-- Table to List Donations -->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Organization</th>
                    <th scope="col">Expected Date of Arrival</th>
                    <th scope="col">Peripherals</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            
            <tbody>
                <% donations.forEach(function(donation, index) { %>

                    <tr>
                        <td><%= index + 1 %></td>
                        <td><%= donation.organization.organizationname %></td>
                        <td><%= donation.expectedDateOfArrival ? new Date(donation.expectedDateOfArrival).toLocaleDateString() : 'N/A' %></td>
                        <td>
                            <!-- Add a button to open a modal for peripherals -->
                            <button class="btn btn-primary btn-sm" type="button" data-toggle="modal" data-target="#peripheralsModal<%= index %>">
                                View Peripherals
                            </button>
                            <!-- Modal for peripherals -->
                            <div class="modal fade" id="peripheralsModal<%= index %>" tabindex="-1" role="dialog" aria-labelledby="peripheralsModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="peripheralsModalLabel">Peripherals for <%= donation.organization.organizationname %></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- Check if donation.peripherals is defined -->
                                            <% if (donation.peripherals) { %>
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Type</th>
                                                            <th>Brand</th>
                                                            <th>Model</th>
                                                            <th>Condition</th>
                                                            <th>Quantity</th>
                                                            <% /* Add other attributes you want to verify */ %>
                                                            <th>Actions</th> <!-- New column for actions -->
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% donation.peripherals.forEach(function(peripheral) { %>
                                                            <tr>
                                                                <td><%= peripheral.type %></td>
                                                                <td><%= peripheral.brand %></td>
                                                                <td><%= peripheral.model %></td>
                                                                <td><%= peripheral.condition %></td>
                                                                <td><%= peripheral.quantity %></td>
                                                                <% /* Add other input fields for attributes you want to verify */ %>
                                                                <td>
                                                                    <button class="btn btn-primary btn-sm" onclick="updatePeripheral(<%= index %>, '<%= peripheral.id %>')">Update</button>
                                                                </td>
                                                            </tr>
                                                        <% }) %>
                                                    </tbody>
                                                </table>
                                            <% } else { %>
                                                <p>No peripherals available</p>
                                            <% } %>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td> 
                            <!-- Display different verification statuses -->
                            <% if (donation.status === 'PENDING') { %>
                                <span class="badge badge-warning"><%= donation.status %></span>
                            <% } else if (donation.status === 'Arrived') { %>
                                <span class="badge badge-primary"><%= donation.status %></span>
                            <% } else if (donation.status === 'Verified') { %>
                                <span class="badge badge-success"><%= donation.status %></span>
                            <% } else if (donation.status === 'Rejected') { %>
                                <span class="badge badge-danger"><%= donation.status %></span>
                            <% } else if (donation.status === 'AcceptedWithIssues') { %>
                                <span class="badge badge-info"><%= donation.status %></span>
                            <% } %>
                            
                        </td>
                        <td> 
                            <!-- Button to open a modal for status update -->
                            <button class="btn btn-outline-dark btn-sm" type="button" data-toggle="modal" data-target="#statusModal<%= index %>">
                                Update Status
                            </button>
                            <!-- Modal for status update -->
                            <div class="modal fade" id="statusModal<%= index %>" tabindex="-1" role="dialog" aria-labelledby="statusModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="statusModalLabel">Update Donation Status</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- Status update form -->
                                            <form action="/manager/updateDonationStatus/<%= donation.id %>" method="post">
                                                <div class="form-group">
                                                    <label for="newStatus">Select New Status:</label>
                                                    <select class="form-control" id="newStatus" name="newStatus">
                                                        <option value="ARRIVED">Arrived</option>
                                                        <option value="VERIFIED">Verified</option>
                                                        <option value="REJECTED">Rejected</option>
                                                        <option value="ACCEPTEDWITHISSUES">Accepted with Issues</option>
                                                    </select>
                                                </div>
                                                <button type="submit" class="btn btn-primary">Update Status</button>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>

    </div>

    <!-- Load Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    

</body>

</html>
